body {
  font-family: 'Roboto', sans-serif;
}

.app-bar {
  background-color: #1a202c;
}

.footer-bar {
  background-color: #2d3748;
}

.text-white {
  color: white;
}

.bg-blue-500 {
  background-color: #1a202c;
}

.hover\:bg-blue-700:hover {
  background-color: #ff0000;
}